/* 表格预览区域布局 */
.table_nav {
    display: flex;
    flex-direction: column;

    height: 98%;
    min-width: 76%;
    max-width: 76%;

    border-radius: 12px;
    background-color: #FFFFFF;

    /* 内边距 */
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;

    /* 在水平方向上居中对齐按钮 */
    justify-content: space-between;

    /* 在垂直方向上居中对齐按钮 */
    align-items: center;

    overflow: hidden;
}


/* 表格区域 */
/* 导航栏 */
.table_nav_list {
    width: min-content;
    /* height: 40px; */

    display: flex;
    /* 使用 Flexbox 布局，允许子元素按照灵活的方式排列 */
    flex-direction: row;
    align-items: center;


    /* 外边距 */
    margin: 0px 20px;
    margin-bottom: 0px;

    /* 内边距 */
    padding: 5px;
    box-sizing: border-box;

    /* 添加阴影 */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.06);

    background-color: rgb(235, 235, 235);
    border-radius: 15px;

   /* 调整 Flexbox 子元素的排列方式 */
   align-content: space-around; /* 如果有多行内容，子元素在垂直方向上等距分布 */
   justify-content: center; /* 在水平方向上居中对齐按钮 */
   flex-wrap: nowrap; /* 如果空间不足，不允许按钮换行 */
}




/* ----------------------------------------- */
/* 按钮 */
/* 导航栏的切换按钮 */
.button_nav {
    width: 110px;
    height: 32px;
    font-size: 15px;

    margin: 0px 2px;
    /* 外边距：上下 左右*/
    padding: 0px 10px;
    /* 添加一些内边距 */

    background-color: transparent;
    /* 按钮背景色 */
    color: rgb(70, 70, 70);
    /* 字体颜色 */


    text-align: center;
    /* 文本居中对齐 */
    border: none;
    /* 去掉默认边框 */
    border-radius: 12px;
    /* 圆角按钮 */
    cursor: pointer;
    /* 鼠标悬停时显示手势 */
    outline: none;
    /* 去除点击时默认的边框效果 */
    transition: background-color 0.2s ease, transform 0.3s ease;
    /* 添加过渡效果，包括缩放和背景颜色 */
}


/* 鼠标悬停时按钮的样式 */
.button_nav:hover {
    background-color: rgb(245, 245, 245);
    /* 鼠标悬停时的按钮颜色 */
    color: black;
    /* 鼠标悬停时的字体颜色 */
    transform: scale(1.05);
    /* 悬停时微微放大按钮 */
}


/* 按钮被点击时的样式 */
.button_nav:active,
.button_nav#action:active {
    /* background-color: rgb(210, 210, 210); */
    background-color: rgb(220, 220, 220);
    /* 点击时背景颜色 */
    color: black;
    /* 点击时字体颜色 */
    transform: scale(0.98);
    /* 点击时缩小按钮，增加点击感 */
}


/* 按钮被选中时 */
.button_nav#action {
    font-weight: bold;
    color: black;
    /* background-color: rgb(235, 235, 235) */
    background-color: rgb(255, 255, 255);
}





/* ----------------------------------------- */
/* 表格容器 */
.table_container {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;


    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    border-radius: 12px;

    /* 添加框线和阴影 */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04); */
    background-color: rgb(255, 255, 255);
    /* background-color: #0070C0; */
}



/* ----------------------------------------- */
/* 各表格默认隐藏 */
.table_page {
    display: none;
}

/* ----------------------------------------- */
/* 表格展示 XX 条数据选择框 */
div.dt-container select.dt-input {
    border-radius: 12px !important;
    transition: transform 0.3s ease;
    /* 添加 transform 过渡 */
}

/* 鼠标悬停时的放大效果 */
div.dt-container select.dt-input:hover {
    font-weight: bold;
    transform: scale(1.07);
    /* 放大2% */
}



/* ----------------------------------------- */
/* 表格搜索输入框 */
div.dt-container .dt-search input {
    padding: 5px 10px !important;
    border-radius: 12px !important;
    border: 1px solid #ccc;
    /* 默认边框颜色 */
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.5s ease;
    /* 添加 transform 过渡 */
}

/* 输入框聚焦时的柔和蓝色光晕效果 */
div.dt-container .dt-search input:focus {
    border-color: #0070C0;
    /* 边框颜色变蓝 */
    box-shadow: 0 0 10px rgba(79, 171, 237, 1);
    /* 淡蓝色光晕效果 */
    outline: none;
    /* 移除默认的聚焦轮廓 */
}

/* 鼠标悬停时的放大效果 */
div.dt-container .dt-search input:hover {
    /* 悬停时微微放大按钮 */
    box-shadow: 0 0 5px rgba(79, 171, 237, 0.8);

    /* 悬停时微微放大按钮 */
    transform: scale(1.02) !important;
}





/* ----------------------------------------- */
/* 表格按钮 */
div.dt-container .dt-paging .dt-paging-button {
    color: rgb(70, 70, 70) !important;
    border: none !important;
    border-radius: 12px !important;
    cursor: pointer !important;
    /* 鼠标悬停时显示手势 */
    outline: none !important;
    /* 去除点击时默认的边框效果 */
    transition: background-color 0.2s ease, transform 0.3s ease !important;
    /* 添加过渡效果，包括缩放和背景颜色 */
}


/* 表格按钮 */
/* 鼠标悬停样式 */
div.dt-container .dt-paging .dt-paging-button:hover {
    background: rgb(235, 235, 235) !important;
    /* 鼠标悬停时的按钮颜色 */
    color: black !important;
    /* 鼠标悬停时的字体颜色 */
    transform: scale(1.07) !important;
    /* 悬停时微微放大按钮 */
}

/* 表格按钮 */
/* 按钮被点击时的样式 */
div.dt-container .dt-paging .dt-paging-button:active {
    background-color: rgb(210, 210, 210) !important;
    /* 点击时背景颜色 */
    color: black !important;
    /* 点击时字体颜色 */
    transform: scale(0.92) !important;
    /* 点击时缩小按钮，增加点击感 */
    box-shadow: none !important;
    /* 去除点击时的阴影效果 */
}

/* 表格按钮 */
/* 按钮被选中时的样式 */
div.dt-container .dt-paging .dt-paging-button.current {
    font-weight: bold !important;
    background: rgb(235, 235, 235) !important;
}