/* 整体布局 */
#view_preprocessing {
    display: flex;
    flex-direction: column;

    width: 100%;
    /* background-color: #0070C0; */
}


/* 内容区域整体布局 */
#content_preprocessing {
    height: calc(100vh - 80px);
    /* 动态计算高度，减去标题高度 */
    width: 100%;

    display: flex;
    /* 使用 Flexbox 布局 */
    flex-direction: row;
    /* 子元素水平排列（行方向） */
    flex-wrap: nowrap;
    /* 当子元素宽度超出时，不允许换行排列 */
    align-content: flex-start;
    /* 当多行时，内容在容器的顶部对齐 */
    justify-content: flex-start;
    /* 子元素在水平方向上左边对齐 */
    align-items: flex-start;
    /* 子元素在垂直方向上顶部对齐 */

    /* 设置边距 */
    gap: 30px;
    box-sizing: border-box;
    /* 包含内边距和边框在元素的总宽度和高度计算中 */
}



/* 特征表 */
#feature_table_container_preprocessing {
    width: 100%;

    padding: 0px 20px;
    margin: 0px;
    box-sizing: border-box;

    flex-shrink: 0;
    /* background-color: #0070C0; */

    /* 不允许换行 */
    white-space: nowrap;
}

#feature_table_container_preprocessing::before,
#feature_table_container_preprocessing::after {
    content: "";
    display: block;
    height: 10px;
    /* 等于你想要的 padding 值 */
    width: 100%;
    position: sticky;
    top: 0;
    /* 顶部伪元素固定在顶部 */
    background: #fff;
    /* 背景色与容器一致 */
    z-index: 1;
    /* 确保浮动在内容上 */
}

#feature_table_container_preprocessing::after {
    top: auto;
    bottom: 0;
    /* 底部伪元素固定在底部 */

    height: 30px;
    /* 等于你想要的 padding 值 */
}






/* 分类表 */
#taxonomy_table_container_preprocessing {
    width: 100% !important;

    padding: 0px 20px;
    margin: 0px;
    box-sizing: border-box;

    flex-shrink: 0;

    /* 不允许换行 */
    white-space: nowrap;

    /* background-color: #0070C0; */
}

#taxonomy_table_container_preprocessing::before,
#taxonomy_table_container_preprocessing::after {
    content: "";
    display: block;
    height: 20px;
    /* 等于你想要的 padding 值 */
    width: 100%;
    position: sticky;
    top: 0;
    /* 顶部伪元素固定在顶部 */
    background: #fff;
    /* 背景色与容器一致 */
    z-index: 1;
    /* 确保浮动在内容上 */
}

#taxonomy_table_container_preprocessing::after {
    top: auto;
    bottom: 0;
    /* 底部伪元素固定在底部 */

    height: 30px;
    /* 等于你想要的 padding 值 */
}